// 定义预计根元素 fontSize => Iphone 6,7,8为例
$rootFontSize: 375 / 10;

// 定义转换像素为 rem 的函数
@function px2rem($px) {
  @return $px / $rootFontSize + rem
}

$infoSize: px2rem(16);
$minInfoSize: px2rem(12);
$radiusSize: px2rem(6);
$marginSize: px2rem(8);
$titleSize: px2rem(18);
